body {
  
  margin-right: 170px;
  margin-left: 100px;
  color: black;
  font-family: georgia, serif;
  background: grey;
  /*background-image: url("/images/clouds.png");
  background-position: fill; */
  /* background-attachment: fixed; */
}

#border {
outline: 4px outset #000000;
outline-offset: 0px;
}

#border2 {
outline: 4px inset #000000;
outline-offset: 0px;
}

.header {
  outline: 4px outset #000000;
  padding: 20px;
  text-align: center;
  background: lightgrey;
  color: white;
  font-size: 20px;
  font-family: Georgia;
}

h1 {
  background-color: blue;
  color: lightGray;
  font-family: system;
}

p {
  padding: 20px;
  text-align: center;
  background: white;
  color: black;
  font-size: 15px;
  font-family: georgia;
}