/*Stylesheet for AbacasOnline.com Version 5*/

body {
	margin:0;
	background:lightgrey;
	background-image: url('webAssets/bg.png');
	height:100%;
	display:block;
	font-family:helvetica;
	font-size:9pt;
}

.body {
	width:950px;
	margin:5px auto;
	background:grey;
	box-shadow:0 3px 5px rgba(0,0,0,80%);
	border-bottom:2px solid #666666;
	border-right:2px solid #666666;
	border-top:2px solid#9d9d9d;
	border-left:2px solid #9d9d9d;
}

.headerContainer {
	background:lightgrey;
	background-image:url("webAssets/bg1.png");
	height: 70px;
	display: flex;
	align-items: flex-end;
	color:#eeeeee;
	margin:10px;
	border-top:2px solid #666666;
	border-left:2px solid #666666;
	border-bottom:2px solid#9d9d9d;
	border-right:2px solid #9d9d9d;
}

.headerContainer #active {
	color:#eeeeee;
	width:80px;
	padding:5px;
	background:grey;
	border-top:2px solid #666666;
	border-left:2px solid #666666;
	border-right:2px solid #9d9d9d;
}

.headerContainer #inactive {
	color:#111111;
	width:80px;
	padding:5px;
	background:#eeeeee;
	border-top:2px solid white;
	border-left:2px solid white;
	border-right:2px solid #9d9d9d;
}

.headerContainer #inactive:hover {
	color:#000000;
	background:#ffffff;
}

.headerContainer a {
	float:left;
	text-decoration:none;
}

.contents {
	margin:0 10px;
	border-top:2px solid white;
	border-left:2px solid white;
	border-bottom:2px solid#9d9d9d;
	border-right:2px solid #9d9d9d;
	z-index:-1;
	background:#eeeeee;
	background-image: linear-gradient(to bottom, #dddddd, #efefef);
	padding:20px;
}

.article {
	width:600px;
	margin:auto;
	padding:10px;
	background:#fefefe;
	border:2px solid lightgrey;
}

.article p {
	text-indent:40px;
}

.infonode {
	width:200px;
	float:right;
	background:grey;
	padding:10px;
	color:#eeeeee;
	font-weight:bold;
	border:2px solid lightgrey;
}

.infonode a {
	color:white;
}

.container {
	width:600px;
	padding:10px;
	background:#fefefe;
	border:2px solid lightgrey;
}

.row {
	display:flex;
	height:100px;
}

.galleryblock {
	width:100px;
	height:100px;
	background-size:100%;
	background-position: center;
	float:left;
}

.galleryblock:hover {
	filter:brightness(120%);
	background-size:120%;
}

.galleryblock:active {
	filter:brightness(80%);
	background-size:110%;
}

.list {
	width:600px;
	background-image:url("webAssets/list.png");
	line-height:20px;
	padding: 0px 5px;
	border:10px solid #f2f2f2;
}

.footerContainer {
	background:lightgrey;
	background-image:url("webAssets/bg1.png");
	display:block;
	align-items:center;
	color:#eeeeee;
	padding:10px 0;
	margin:10px;
	border-top:2px solid #666666;
	border-left:2px solid #666666;
	border-bottom:2px solid#9d9d9d;
	border-right:2px solid #9d9d9d;
}

.footerContainer a{
	text-decoration:none;
	color:lightgrey;
}

.footerContainer a:hover{
	text-decoration:underline;
	color:white;
}



