body {
	color: white;
	font-family: Arial;
	display: table;
	margin: auto;
	padding:0;
	background-color: darkslategray;
	background-image: url('webAssets/body.png');
}

.body2 {
	width: 1024px;
	background-image: url('webAssets/background.png');
}

.header {
	width: 1024px;
	height: 500px;
	background-image: url('webAssets/header.png');
	display: table;
}

h2 {
	color:darkred;
	color:darkred;
}

a { 
	border-width:0px;
	text-align: center;
	display:block;
	position: float;
	float:left;
	color:white;
}

br {
	height:30px
}

a img{ 
	border-width:0px;
	text-align: center;
	display:block;
	position: float;
	float:left;
	color:white;
}

.feed {
	width: 1024px;
	height: 320px;
	background-image: url('webAssets/feed.png')
	
}

.contentbox {
	width:1000px;
	height:1000px;
	background-image:url('webAssets/paragraph.png');
	
}

.tabselected {
	background-image:url('webAssets/tabselected.png');
	width:265px;
	padding:18px;
	height:14px;
	float:left;
	margin-top:38px;
}

.tabunselected {
	background-image:url('webAssets/tabunselected.png');
	width:265px;
	padding:18px;
	height:14px;
	float:left;
	margin-top:38px;
}

.tabunselected a {
	color:black;
}

.biglinks {
	height:340px;
}

.footer {
	width: 998px;
	height: 23px;
	padding: 13px;
	text-align: center;
	size: 11px;
	background-image: url('webAssets/footer.png');
}

/* mastodon stuff */

.toots {
  max-width: 600px;
  list-style: none;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial, sans-serif;
  color:gray;
}

.toot {
  border-bottom: 1px solid #ccc;
  padding: 1rem;
}

/* Posting user. */
.toot .user {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-evenly;
  align-content: flex-start;
  height: 46px;  /* Avatar height. */
  column-gap: 0.5rem;

  text-decoration: none;
  color: inherit;
}

.toot .avatar {
  margin-top:96px;
  border-radius: 4px;
}

.toot .display-name {
  margin-top:96px;
font-weight: bold;
  display: block;
}

.toot .user:hover .display-name {
  text-decoration: underline;
}

.toot .username {
  margin-top:96px;
display: block;
  margin-right: 1em;
  color: #999;
}

/* Boosting user is smaller and above the posting user. */
.toot .boost {
  margin-top:96px;
height: 23px;
  margin-bottom: 0.25rem;
  column-gap: 0.25rem;
}

.toot .boost:before {
  content: "♺";
  font-size: 140%;
}

.toot .boost .username {
  margin-top:96px;
display: none;
}

.toot .permalink {
  margin-top:96px;
text-decoration: none;
  display: block;
  color: #999;
  float: right;
}

.toot .permalink:hover {
  text-decoration: underline;
}

.toot .body {
  clear: both;
  margin-top: 1em;
}

.toot .body a {
  overflow-wrap: anywhere;
}

/* Weird trick to keep the text in the page but not display it. */
.toot .body .invisible {
  display: inline-block;
  font-size: 0;
  line-height: 0;
  width: 0;
  height: 0;
  position: absolute;
}

.toot .body .ellipsis::after {
  content: "…";
}

.toot .attachment {
  display: block;
  width: 0%;
  aspect-ratio: 16 / 9;
  border-radius: 4px;
}

.toot .attachment img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}