body {
    background-color: white;
    max-width: 613px;
    font-family: georgia;
}

h1 {
    background-image: linear-gradient(olivedrab, darkgreen);
    color: white;
    font-size: 24px;
    width: 50%;
    padding-right: 5px;
    padding-left: 5px;
    border-radius: 12px;
}

h2 { 
    font-size: 18px;
    margin: 15px;
}