body {
    background-color: white;
}

h2 {
    background-image: linear-gradient(olivedrab, darkgreen);
    color: white;
    width: 50%;
    padding-right: 5px;
    padding-left: 5px;
    border-radius: 12px;
}