html {
    display: table;
    margin: auto;
}

body {
    padding-top: 16px;
    padding-bottom: 16px;
    margin:0 auto;
    display: table-cell;
    font-family: Georgia;
    background-image: linear-gradient(skyblue, aliceblue, darkslateblue);
    background-color:skyblue;
    background-attachment: fixed;
}

h1 {

    background-image: linear-gradient(darkblue, slateblue, skyblue);
    background-repeat: repeat-x;	
	height: 48px;
    padding-right: 8px;
    text-align: right;
    font-size: 40px;
    border-color: skyblue;
    border-style: inset;
	border-radius: 8px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
    border-width: 3px;
    background-color: darkblue;
    background-image: url('h1Back.png');
    color: white;
}

.body2 {
    padding-left: 2px;
    padding-right: 2px;
    padding-bottom: 12px;
	margin-top:0px;
    width: 620px;
	min-height: 760px;
    background-color: grey;
	background-image: url('body2Back.png');
    border: 10px solid transparent;
    border-image: url(border.png) 30 round;
	border-style:outset;
	border-color:lightgrey;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;

}

h2 {
    background-image: linear-gradient(olivedrab, darkgreen);
    background-color: green;
    color: white;
    width: 50%;
    padding-right: 5px;
    padding-left: 5px;
    border-radius: 12px;
}

.nav {
    height: 32px;
	background-image: url('navBack.png');
	background-image: linear-gradient(lightcyan, teal, slategrey);
    background-color: teal;
    border-style: outset;
    border-color: teal;
    border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
    border-width: 3px;
	padding:1px;
    padding-left: 5px;
    margin-top: 0;
}

.nav a {
    height: 20px;
    padding: 2px;
    padding-left: 10px;
    padding-right: 10px;
    color: white;
    text-decoration: none;
    position:absolute;
    border-style: groove;
    border-color: teal;
    border-width: 4px;
    border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}

.nav a:hover {
    border-color: skyblue;
}

.nav a:active {
    border-style: groove;
    border-color: darkslategrey;
    border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
    color: lightgrey;
    background-image: linear-gradient(teal, darkcyan,black);
    background-color: black;
}

.highlights {
	margin:10px;
	padding:5px;
	width: 152px;
	/*min-height: 600px;*/
	float: left;
	border-color:gold;
	background-color:darkkhaki;
	border-style:outset;
}

.highlights h2 {
	background-image: linear-gradient(gold, goldenrod);
	background-color: goldenrod;
	margin-top:0;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	width:140px;
}

.highlight-segment {
	width:145px;
	height:109px;
	border-style:inset;
	border-color:gold;
	margin-top:10px;
}

.iconlink {
    padding: 32px;
    margin-right: 20px;
    margin-left: 20px;
    text-align: center;
    float: left;
}

.iconlinkcontainor {
    border-color: lightgrey;
    border-style: inset;
    border-radius: 8px; 
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
    border-width: 3px;
    background-color: white;
	background-image: url('iconlinkBack.png');    
	background-image: linear-gradient(lightblue, white)
}

p {
    padding: 12px;
    border-color: lightgrey;
    border-style: inset;
    border-radius: 8px; 
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
    border-width: 3px;
    background-color: white;
    background-image: url('paperBack.jpg');
}

iframe {
    border-radius: 8px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
    border-width: 3px;
    max-width: 613px;
    margin-top: 16px;
    margin-bottom:16px;
}

.spacer {
	background-color:none;
}

footer {
    border-style: inset;
    border-color: skyblue;
    border-radius: 8px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
    border-width: 3px;
    color: lightgrey;
    background-image: linear-gradient(darkblue, slateblue, skyblue);
	background-image: url('h1Back.png');
    background-color: darkblue;
    padding: 5px;
    margin-top: 16px;
}

table {
   border-collapse: collapse; 
   border-spacing: 0px;
}

th, td {
  padding: 0px;
}
